
<div class="pager"><h3>&nbsp;Profile&nbsp;</h3></div>
<div>
<div style="width: 128px; height: 128px; background-color:#CCCCCC; display:inline-block; vertical-align:top;">
	<%= image_tag("46405.jpg", size: "88x110", alt: "Edit Entry") %>
</div>
<div style="display:inline-block"><h4>Pasit Kongkunakornkul</h4><br/>Education : Chulalongkorn University<br/>Hobbies : Play Games<br/>Birthday : 12 June 1992<br/>Relationship Status : Single</div>
</div>
<br>
<h3>TimeLine</h3>
<%= link_to 'Post New Status', new_post_path %><br><br>


<table>
  <tr>
    <th>Status</th>
    <th></th>
    <th></th>
  </tr>
 
<% @posts.each do |post| %>
  <tr>
    <td><%= post.text %></td>
    <td><%= link_to 'Show Comments', post %></td>
    <td><%= link_to 'Edit', edit_post_path(post) %></td>
	<td><%= link_to 'Delete', post_path(post),
                    method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>


  <%= link_to 'Back', root_path %>